GEMINI_API_KEY="AIzaSyBfMXZl98yKzSOkGeuKyh19mBjdsYdHTPI"
READING_SPEED_SLOW_GTTS = False # Nastavení základní rychlosti gTTS (True pro pomalou, False pro normální)
READING_SPEED_FACTOR = 1.0
TEST_MODE=10